@media(min-width: 1920px){
    .login-container{
        display: flex;
        width: 60%;
        border-radius: 4px;
        margin-top: 25px;
        margin-left: 370px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    }
    
    .login-container .image{
        border: 1px solid #fff;
        border-radius: 4px;
        margin: 10px;
    }
    
    .login-container .image img{
        height: 800px;
        border-radius: 4px;
    }
    
    .login-container .form{
        border: 1px solid #fff;
        border-radius: 4px;
        width: 480px;
        margin: 10px;
    }
}
